In [19]:
from obspy import read_inventory
from obspy.clients.fdsn import Client
from obspy.core import UTCDateTime
from datetime import timedelta
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.cbook as cbook
import wget, os
import pandas as pd
from pandas import date_range
import numpy as np
from datetime import datetime

In [3]:
rs = Client('RASPISHAKE')
inv = rs.get_stations(channel='SHZ,EHZ')

In [40]:
sta = inv.select(station='RCB43')

In [24]:
cd = sta[0][-1].creation_date

In [28]:
UTCDateTime(cd)
print(cd.date)

2017-03-07

In [46]:
t = pd.date_range(start=datetime(2016, 11, 20), end=datetime.now())
data = np.zeros(len(t))

In [21]:
df = pd.DataFrame(index=t, data=data)

In [77]:
df

              0
2016-11-20  0.0
2016-11-21  0.0
2016-11-22  1.0
2016-11-23  1.0
2016-11-24  1.0
...         ...
2020-08-09  0.0
2020-08-10  0.0
2020-08-11  0.0
2020-08-12  0.0
2020-08-13  0.0

[1363 rows x 1 columns]

In [43]:
print(sta[0][-1].termination_date)

None

In [58]:
i = 0
e = 1
for d in pd.date_range(start=sta[0][e].start_date.date, end=sta[0][e].end_date.date).tolist():
    if i < 5:
        print(d)
    i += 1

2019-09-02 00:00:00
2019-09-03 00:00:00
2019-09-04 00:00:00
2019-09-05 00:00:00
2019-09-06 00:00:00

In [66]:
sta[0][3]

Station RCB43 (Raspberry Shake Citizen Science Station)
	Station Code: RCB43
	Channel Count: None/None (Selected/Total)
	2019-11-22T17:38:20.548000Z -
	Access: open
	Latitude: 42.69, Longitude: -73.19, Elevation: 219.0 m
	Available Channels:

In [81]:
df.iloc[-1][0]

0.0